@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 60%;
}

body {
  font-family: 'Play', sans-serif;
  height: 100vh;
  color: #000;
  background-image: linear-gradient(to top right, #e2b810 0%, #ec3b05 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Layout */
main {
  position: relative;
  width: 100rem;
  height: 60rem;
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(200px);
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  overflow: hidden;
  display: flex;
}

.player {
  flex: 50%;
  padding: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.75s;
}

/* Elements */
.name {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 1rem;
}

.score {
  font-size: 8rem;
  font-weight: 300;
  color: #ee7d05;
  margin-bottom: auto;
}

.player--active {
  background-color: rgba(255, 255, 255, 0.4);
}
.player--active .name {
  font-weight: 700;
}
.player--active .score {
  font-weight: 400;
}

.current {
  background-color: #ee7d05;
  opacity: 0.8;
  border-radius: 9px;
  color: #fff;
  width: 65%;
  padding: 2rem;
  text-align: center;
  transition: all 0.75s;
}

.current-score {
  font-size: 3.5rem;
}

/* Buttons */
.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.8rem;
  border: none;
  cursor: pointer;
  padding: 0.7rem 2.5rem;
  border-radius: 50rem;
  background-color: rgba(255, 255, 255, 0.6);
}

.btn--new {
  top: 3rem;
}
.btn--roll {
  top: 40rem;
}
.btn--hold {
  top: 46rem;
}

.dice {
  position: absolute;
  left: 50%;
  top: 16.5rem;
  transform: translateX(-50%);
  height: 10rem;
}

.player--winner {
  background-color: #2f2f2f;
}
.player--winner .name {
  font-weight: 700;
  color: #d50b0b;
}

.hidden {
  display: none;
}

/* FIREWORKS */
.fireworks {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  display: none;
}

.firework {
  position: absolute;
  width: 6px;
  height: 6px;
  background: white;
  border-radius: 50%;
  animation: explode 1s ease-out forwards;
}

@keyframes explode {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(var(--dx), var(--dy)) scale(0.2);
    opacity: 0;
  }
}
